* {
	margin: 0;
	padding: 0;
}

html {
	background-color: #A7C7E8;
}

.font-raleway {
	font-family: 'Raleway', sans-serif;
}

.font-dosis {
	font-family: 'Dosis', sans-serif;
}

/* Navigation bar CSS */
header {
	position: fixed;
}

nav {
	width: 100vw;
	overflow: auto;
}

nav a {
	margin: 20px 15px;
	padding: 8px;
	text-decoration: none;
	color: black;
	float: right;
	font-size: 18px;
	transition: 0.3s;
}

nav a:hover {
	color: #2F4B26;
	transition: 0.3s;
	letter-spacing: 1px;
}

#logo {
	margin-left: 30px;
	border: 1px solid black;
	border-radius: 100%;
	float: left;
}

#logo:hover, #contact:hover {
	letter-spacing: 0px;
	border-color: #2F4B26;
}

#contact {
	margin-right: 30px;
	border: 1px solid black;
	border-radius: 20px;
}

/* First section of main webpage */

.fullscreen {
	width: 100vw;
} 

.container-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
}

#homepage-image {
	background: url(../img/IMG_5538.jpeg) no-repeat bottom;
	background-size: cover;
	background-attachment: fixed;
}

#homepage-image h1 {
	font-size: 50px;
	letter-spacing: 10px;
	text-align: center;
}

#homepage-image h1, #homepage-image h3, ul {
	font-weight: normal;
	margin: 0 auto;
	color: white;
	background-color: rgba(0,0,0, 0.4);
}

#homepage-image h3 {
	text-align: center;
}

#homepage-image h3, ul {
	font-size: 20px;
	list-style: none;
}

/* This is for typewriter*/

.line-1{ 
    border-right: 2px solid rgba(255,255,255,.75);
    white-space: nowrap;
    overflow: hidden;   
}

/* Animation */
#homepage-image li:nth-child(1){
	animation: typewriter-one 1.5s steps(9, end) 1s 1 normal both,
            blinkTextCursor 700ms steps(9, end) infinite normal;
}

#homepage-image li:nth-child(2){
  	animation: typewriter-two 1.8s steps(10, end) 3s 1 normal both,
            blinkTextCursor 700ms steps(10, end) infinite normal;
}

#homepage-image li:nth-child(3){
  	animation: typewriter-three 3s steps(20, end) 6s 1 normal both,
            blinkTextCursor 700ms steps(20, end) infinite normal;
}

@keyframes typewriter-one{
  from{width: 0;}
  to{width: 4em;}
}

@keyframes typewriter-two{
  from{width: 0;}
  to{width: 5.5em;}
}

@keyframes typewriter-three{
  from{width: 0;}
  to{width: 8.5em;}
}

@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

/* Second section of main webpage */

#summer-plans {
	background-color: #A7C7E8;
	flex-direction: column;
}

#summer-plans h2 {
	position: relative;
	top: -10%;
	font-size: 50px;
	margin: 0 auto;
	color: #2F4B26;
}

#summer-information {
	display: flex;
	width: 90vw;
	align-self: center;
	justify-content: space-around;
}

#summer-information i {
	align-self: center;
	font-size: 300px;
	color: white;
}

#summer-information div {
	width: 50vw;
	padding: 30px 0px;
	margin: 0px;
}

#summer-information h3 {
	text-align: center;
	font-size: 35px;
	margin-bottom: 20px;
	color: white;
}

/* Third section of main webpage */

#education {
	background-color: #809BCE;
}